USE [master]
GO
/****** Object:  Database [DrawingSheet]    Script Date: 18/11/2018 2:06:35 ******/
CREATE DATABASE [DrawingSheet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DrawingSheet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DrawingSheet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DrawingSheet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DrawingSheet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DrawingSheet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DrawingSheet]
GO
/****** Object:  Table [dbo].[Drawings]    Script Date: 18/11/2018 2:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drawings](
	[DrawID] [int] IDENTITY(1,1) NOT NULL,
	[Xcords] [nvarchar](max) NOT NULL,
	[Ycords] [nvarchar](max) NOT NULL,
	[isDragging] [nvarchar](max) NOT NULL,
	[Color] [nvarchar](max) NOT NULL,
	[PenWidth] [nvarchar](max) NOT NULL,
	[UserID] [int] NOT NULL,
	[isPrivate] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Drawings] PRIMARY KEY CLUSTERED 
(
	[DrawID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rects]    Script Date: 18/11/2018 2:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rects](
	[RectId] [int] IDENTITY(1,1) NOT NULL,
	[Cords] [nvarchar](max) NOT NULL,
	[RectColor] [nvarchar](max) NOT NULL,
	[UserID] [int] NOT NULL,
	[isPrivate] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Rects] PRIMARY KEY CLUSTERED 
(
	[RectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/11/2018 2:06:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[IP] [nvarchar](max) NOT NULL,
	[Useragent] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Drawings]  WITH CHECK ADD  CONSTRAINT [FK_Drawings_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Drawings] CHECK CONSTRAINT [FK_Drawings_Users]
GO
ALTER TABLE [dbo].[Rects]  WITH CHECK ADD  CONSTRAINT [FK_Rects_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Rects] CHECK CONSTRAINT [FK_Rects_Users]
GO
USE [master]
GO
